<mat-card>
   
        <mat-card-title>Contact Us</mat-card-title>
    
    <mat-card-content>

        <div class="row">
            <mat-label>This website is designed & developed by National Informatics Center and maintained by NIC
                Bilaspur, Ministry
                of Electronics and Information Technology, Government of India.</mat-label>
        </div>
        <br>
        <div class="row">
            <mat-label>In case you have any query regarding this website, you may write to the Web Information Manager
                at
                bilaspur[dot]cg[at]nic[dot]in</mat-label>
        </div>
        <br>
        <!-- <div class="row"><mat-label>Any feedback, related to content, design, or technology may be submitted at Feedback section.</mat-label></div> -->
        <br><br>
        <div class="row">
            <mat-card-header>
                <mat-card-title>You can also contact us at the following address:</mat-card-title>
            </mat-card-header>
        </div>
        <br>
        <div class="row">
            <mat-label>NIC District Center</mat-label>
        </div>
        <!-- <div class="row">
            <mat-label>Behind </mat-label>
        </div> -->
        <div class="row">
            <mat-label>Bilaspur, Chhattisgarh pin -495001</mat-label>
        </div>
        <div class="row">
            <mat-label>E-mail : dio-bilaspur.cg@nic.in</mat-label>
        </div>
        <div class="row">
            <mat-label>E-mail : bilaspur.cg.nic.in</mat-label>
        </div>
        

    </mat-card-content>
</mat-card>