<!-- Pending Form Dashboard -->
<mat-card class="mt-3">
    <mat-card-header>
        <mat-card-title>Track</mat-card-title>
    </mat-card-header>
    
    <mat-card-content>
        <!-- Filter -->
        <mat-form-field appearance="standard">
            <mat-label class="required">Filter</mat-label>
            <input matInput autocomplete="off" (keyup)="applyFilter($event)" #input>
        </mat-form-field>

        <!-- Table -->
        <div class="mat-elevation-z8">
            <table mat-table #table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8" style="width: 100%;">
                <ng-container matColumnDef="sn">
                    <th mat-header-cell *matHeaderCellDef>S.No</th>
                    <td mat-cell *matCellDef="let row; let i=dataIndex">{{i+1}}</td>
                </ng-container>

                <ng-container matColumnDef="dept_name">
                    <th mat-header-cell *matHeaderCellDef>Department Name</th>
                    <td mat-cell *matCellDef="let row">{{row.dept_name}}</td>
                </ng-container>

                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef>Date</th>
                    <td mat-cell *matCellDef="let row">{{row.date | date: 'dd-MM-yyyy'}}</td>
                </ng-container>

                <ng-container matColumnDef="form">
                    <th mat-header-cell *matHeaderCellDef>Form</th>
                    <td mat-cell *matCellDef="let row"><button mat-button color="primary" (click)="openDialog(row.form_id)">View</button></td>
                </ng-container>

                <ng-container matColumnDef="letter">
                    <th mat-header-cell *matHeaderCellDef>Letter</th>
                    <td mat-cell *matCellDef="let row"><button mat-mini-fab color="basic" (click)="letter_pdf(row.letter_pdf)">
                            <mat-icon> cloud_download </mat-icon>
                        </button> </td>
                </ng-container>

                <ng-container matColumnDef="attachment">
                    <th mat-header-cell *matHeaderCellDef>Attachment</th>
                    <td mat-cell *matCellDef="let row"><button mat-mini-fab color="basic" (click)="soft_pdf(row.soft_pdf)">
                            <mat-icon> cloud_download </mat-icon>
                        </button> </td>
                </ng-container>

                <ng-container matColumnDef="remark">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center;">Remark</th>
                    <td mat-cell *matCellDef="let row"><textarea matInput rows="2" cols="40" disabled="true" style="text-align: center; color: blue;">{{row.remark}}</textarea></td>
                </ng-container>

                <ng-container matColumnDef="admin_remark">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center;">Admin Remark</th>
                    <td mat-cell *matCellDef="let row"><textarea matInput rows="2" cols="40" disabled="true" style="text-align: center; color: red;">{{row.admin_remark}}</textarea></td>
                </ng-container>

                <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
                <ng-container matColumnDef="expandedDetail">
                    <td mat-cell *matCellDef="let row" [attr.colspan]="displayedColumns.length" >
                        
                        <div class="example-element-detail"
                            [@detailExpand]="row == expandedElement ? 'expanded' : 'collapsed'">

                            <mat-stepper linear #stepper selectedIndex="{{row.status+1}}" labelPosition="end" disabled>
                                <mat-step completed="{{row.status >= 1}}" [editable]="false">
                                    <ng-template matStepLabel *ngIf="row.status <=3 || row.status ==5">Pending {{row.date | date:'dd-MM-yyyy'}}</ng-template>
                                    <ng-template matStepLabel *ngIf="row.status == 4">Submitted {{row.date | date:'dd-MM-yyyy'}}</ng-template>
                                </mat-step>

                                <mat-step completed="{{row.status >= 2}}" [editable]="false" >
                                    <ng-template matStepLabel *ngIf="row.status == 2 || row.status >= 4"> Approved {{row.wim_date | date:'dd-MM-yyyy'}}</ng-template>
                                    <ng-template matStepLabel *ngIf="row.status == 3">Rejected {{row.wim_date | date:'dd-MM-yyyy'}} <mat-icon matSuffix style="color: red;">highlight_off</mat-icon> </ng-template>
                                </mat-step>

                                <mat-step completed="{{row.status >=4}}" [editable]="false">
                                    <ng-template matStepLabel *ngIf="row.status == 4">Uploaded {{row.admin_date | date:'dd-MM-yyyy'}}</ng-template>
                                    <ng-template matStepLabel *ngIf="row.status == 5">Rejected By NIC {{row.admin_date | date:'dd-MM-yyyy'}}<mat-icon matSuffix style="color: red;">highlight_off</mat-icon></ng-template>
                                </mat-step>
                            </mat-stepper>

                            <!-- <div class="example-element-diagram">
                            <div class="example-element-position"> {{row.date}} </div>
                            <div class="example-element-symbol"> {{row.dept_name}} </div>
                            <div class="example-element-name"> {{row.letter_pdf} </div>
                            <div class="example-element-weight"> {{row.mobile}} </div>
                            </div>
                                <div class="example-element-description">
                                {{row.status}}
                                <span class="example-element-description-attribution"> -- Wikipedia </span>
                            </div> -->


                        </div>
                    </td>
                </ng-container>



                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                class="example-element-row"
                [class.example-expanded-row]="expandedElement === row"
                (click)="expandedElement = expandedElement === row ? null : row"></tr>
                <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="5">No data matching the filter "{{input.value}}"</td>
                </tr>
            </table>
            <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
        </div>
    </mat-card-content>
</mat-card>