
  .example-card {
    max-width: 50%;
  }
  
  .center-content {
      margin-top: 20px;
      text-align: -webkit-center;
  }
  
  .example-full-width {
      margin-top: 25px;
    width: 100%;
  }

  .mat-button{
    margin-top: 20px;
    width: 100%;
    color: white;
    height: 40px;
    background-color: #171b3b;
  }

  